<div id="font_options">
  <p style="font-family:Josefin Sans">Josefin Sans</p>
  <p style="font-family:Sans-Serif">Sans-Serif</p>
  <p style="font-family:Serif">Serif</p>
  <p style="font-family:Lato">Lato</p>
  <p style="font-family:Open Sans">Open Sans</p>
  <p style="font-family:Roboto">Roboto</p>
  <p style="font-family:Roboto Slab">Roboto Slab</p>
  <p style="font-family:Helvetica">Helvetica</p>
  <p id="decrease_font"><i class="fa fa-minus"></i> Decrease size</p>
  <p id="increase_font"><i class="fa fa-plus"></i> Increase size</p>
</div>